<% content_for :title do %>
  Slack Incidents
<% end %>


<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  
  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Title
        </th>
        <th scope="col" class="px-6 py-3">
          Description
        </th>
        <th scope="col" class="px-6 py-3">
          Severity
        </th>
        <th scope="col" class="px-6 py-3">
          Creator
        </th>
        <th scope="col" class="px-6 py-3">
          Time to Resolve
        </th>
        <th scope="col" class="px-6 py-3">
          Channel ID
        </th>
        <th scope="col" class="px-6 py-3">
          Status
        </th>
      </tr>
    </thead>
    <tbody>
      <% @incidents.each do |incident| %>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <td class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
          <%= incident.title %>
        </td>
        <td class="px-6 py-4">
          <%= incident.description %>
        </td>
        <td class="px-6 py-4">
          <%= incident.severity %>
        </td>
        <td class="px-6 py-4">
          <%= incident.creator %>
        </td>
        <td class="px-6 py-4">
          <%= incident.resolved_at.present? ? "#{((incident.resolved_at - incident.created_at).to_f/3600).round(2)} hours": "WIP" %>
        </td>
        <td class="px-6 py-4">
          <%= incident.channel_id %>
        </td>
        <td class="px-12 py-4 text-sm font-medium whitespace-nowrap">
          <div class="inline px-3 py-1 text-sm font-normal rounded-full gap-x-2 <%= incident.status.eql?("open") ? "text-gray-500 bg-gray-100 dark:text-gray-400" : "text-emerald-500 bg-emerald-100/60 dark:bg-gray-800"%>">
            <%= incident.status %>
          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
